.DogDetails-image {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.DogDetails-list {
    list-style: none;
}

.BackButton {
    color: white;
    display: block;
    text-decoration: none;
}

.BackButton:hover {
    color: lightblue;
}